html, body {
  overflow: hidden;
  height: 100%;
}

body {
  animation: fadeFromBlack 1s ease forwards;
}

@keyframes fadeFromBlack {
  0% {
    opacity: 0;
    background-color: black;
  }
  100% {
    opacity: 1;
    background-color: initial;
  }
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
 color:white;
}
.title {

  font-size: 8vw;
  position: absolute;
  top: 4vh;
  left: 2vw;
}
.start {
  Font-size: 6vw;
}
.forum {
  Font-size: 6vw;
}
Img {
  max-width: 100%;
  height: auto;
}
.header {
color: white;
 font-size: 2vw;
  position: absolute;
  top: 0vh;
  left: 2vw;
  color: white;
}

.feedback {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 140px;
  left: 16px;
}
.next {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 80vh;
  left: 80vw;
}
.halldark {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px;
  text-align: center;
  color: white;
  font-size: 5vw;
  position: absolute;
  top: 40vh;
  left: 17vw;
}

.halllight {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px;
  text-align: center;
  color: white;
  font-size: 5vw;
  position: absolute;
  top: -3vh;
  left: 53vw;
}
.backsplithall {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px;
  text-align: center;
  color: white;
  font-size: 5vw;
  position: absolute;
  top: 40vh;
  right: 25vw;
}
.backdarkhall {
  color: white;
  font-size: 5vw;
  position: absolute;
  top: 83vh;
  right: 45vw
}
.bathroom {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 40vh;
  right: 45vw;
}
.chapelexit {
color: white;
 font-size: 3vw;
  position: absolute;
  top: 40vh;
  right: 5vw;
}
.box {
  display: block;
  width: 150px;
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
}

.box::after {
  content: attr(data-label);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 5px 5px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.box:hover::after {
  opacity: 1;
}