html, body {
  overflow: hidden;
  height: 100%;
}

body {
  animation: fadeFromBlack 1s ease forwards;
}

@keyframes fadeFromBlack {
  0% {
    opacity: 0;
    background-color: black;
  }
  100% {
    opacity: 1;
    background-color: initial;
  }
}

.container {
  position: relative;
  text-align: left;
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
 color:white;
}
.title {

  font-size: 8vw;
  position: absolute;
  top: 4vh;
  left: 2vw;
}
.start {
  Font-size: 6vw;
}
.forum {
  Font-size: 6vw;
}
Img {
  max-width: 100%;
  height: auto;
}
.header {
color: white;
 font-size: 2vw;
  position: absolute;
  top: 0vh;
  left: 2vw;
  color: white;
}

.feedback {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 140px;
  left: 16px;
}
.next {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 80vh;
  left: 80vw;
}
.halldark {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px;
  text-align: center;
  color: white;
  font-size: 5vw;
  position: absolute;
  top: 40vh;
  left: 17vw;
}

.halllight {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px;
  text-align: center;
  color: white;
  font-size: 5vw;
  position: absolute;
  top: -3vh;
  left: 53vw;
}
.backsplithall {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px;
  text-align: center;
  color: white;
  font-size: 5vw;
  position: absolute;
  top: 40vh;
  right: 32vw;
}
.backdarkhall {
  color: white;
  font-size: 5vw;
  position: absolute;
  top: 83vh;
  right: 45vw
}
.bathroom {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 30vh;
  right: 45vw;
}