.container {
  position: relative;
  text-align: left;
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
 color:white;
}
.title {

  font-size: 8vw;
  position: absolute;
  top: 4vh;
  left: 2vw;
}
.start {
  Font-size: 6vw;
}
.forum {
  Font-size: 6vw;
}
Img {
  max-width: 100%;
  height: auto;
}
.header {
color: white;
 font-size: 2vw;
  position: absolute;
  top: 0vh;
  left: 2vw;
  color: white;
}

.feedback {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 140px;
  left: 16px;
}
.next {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 80vh;
  left: 80vw;
}
.halldark {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 40vh;
  left: 17vw;
}

.halllight {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 10vh;
  left: 53vw;
}
.back {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 70vh;
  right: 40vw;
}
.backdarkhall {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 100vh;
  right: 40vw
}
.bathroom {
color: white;
 font-size: 5vw;
  position: absolute;
  top: 5vh;
  right: 2vw